<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!--Problem Statement Website-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css"
          rel="stylesheet" />
    <!-- MDB -->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>
</head>
<body style="margin-top: 80px !important">
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('../../assets/img/222.jpg') ">
        <div class="container position-relative">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>Sunlight Protection</h1>
                        <br>
                        <br>
                        <span class="subheading">Let us help you keep your children safe from the Ultraviolet Radiation.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content-->
    <div class="container">
        <div class="row gx-4 gx-lg-5  justify-content-center">
            <hr class="my-4" />
            <!--Problem statement-->
            <h4 class="yellowc"><strong>Did you know?</strong></h4>
            <br>
            <br>
            <pc> As it spends its summer when the earth is <yeb>at perihelion</yeb>, and being influenced by the <yeb>ozone hole</yeb>, Australia is exposed to stronger ultraviolet rays in summer <yeb>than most countries</yeb>. </pc>

            <hr class="my-4" />
            <section>
                <div class="row">
                    <div class="col-md-5 gx-5 mb-4">
                        <h3><br></h3>
                        <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                            <img src="~/assets/img/UVData2.png" class="img-fluid" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                    </div>
                    
                    <div class="col-md-7 gx-5 mb-4">
                        <h4><br></h4>
                        <h4><strong>What is UV radiation?</strong></h4>
                        <p class="text-muted">
                            Ultraviolet radiation (UVR) is a type of energy produced by the sun and some artificial sources. <br>
                            Exposure to UV radiation frequently can cause significant damage to a child's skin and eyes and leads to serious impacts on their health conditions
                            later in life such as Photokeratitis and Melanomas.<br>
                        </p>
                        <br>
                        <h4><strong>What is UV Index?</strong></h4>
                        <p class="text-muted">
                            UV index is a measurement to indicate the level of UV radiation during a day. It is measured by the Australian Radiation Protection And Nuclear Safety Agency (ARPANSA).
                            <br>
                        </p>
                        <br>
                        <a href="@Url.Action("Data","Data")" style="background-color: #f68a11; " class="btn btn-warning btn-rounded btn-lg">
                            Check current UV level at your location
                        </a>
                    </div>
                </div>
            </section>

            <!--protection-->
            <hr class="my-4" />
            <section>
                <div class="row">
                    <div class="col-md-7 gx-5 mb-4 text-center">
                        <h3><br></h3>
                        <h5 class="text-center">In Australia, before reaching the age of 75 </h5>
                        <h3><strong> 4% </strong> of men and <strong> 3% </strong> of women </h3>
                        <h5 class="text-center">may develop <strong>melanoma.</strong> </h5>
                        <br>
                        <h5><yeb>Your children's skin is <strong>more susceptible</strong> to UV damage than adults</yeb></h5>
                        <h1><br></h1>
                        <h5><strong> Start to protect your children </strong></h5>
                        <h1><br></h1>
                        <a href="@Url.Action("Protector","Protector")" class="btn btn-info btn-rounded btn-lg ">
                            Learn More
                        </a>
                    </div>

                    <div class="col-md-5 gx-5 mb-4">
                        <h3><br></h3>
                        <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                            <img src="~/assets/img/Protection.jpg" class="img-fluid" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <!--protection-->
            <!--sunburn-->
            <hr class="my-4" />
            <section>
                <div class="row">
                    <div class="col-md-5 gx-5 mb-4">
                        <h3><br></h3>
                        <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                            <img src="~/assets/img/newTreatment.png" class="img-fluid" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-7 gx-5 mb-4 text-center">
                        <h3><br></h3>
                        <h4 class="text-center">Did you know that it could only take as long as </h4>
                        <h3 class="yellowc"><strong> 11 minutes </strong></h3>
                        <h4 class="text-center"> to get sunburned in Victoria </h4>
                        <h1><br></h1>
                        <a href="@Url.Action("DamTre","DamTre")" class="btn btn-danger btn-rounded btn-lg ">
                            Learn More
                        </a>
                    </div>
                </div>
            </section>
            <!--sunburn-->
            <!--quiz-->
            <hr class="my-4" />
            <section>
                <div class="row">

                    <div class="col-md-7 gx-5 mb-4 text-center">
                        <h3><br></h3>
                        <h3 class="text-center"><strong> Test your knowledge </strong></h3>
                        <h1><br></h1>
                        <h5 class="text-center"> <strong> Want to know how much your children knows about Sun Safety? </strong></h5>
                        <h1><br></h1>
                        <br>
                        <a href="@Url.Action("Education","Home")" class="btn btn-secondary btn-rounded btn-lg ">
                            Learn More
                        </a>
                    </div>

                    <div class="col-md-5 gx-5 mb-4">
                        <h3><br></h3>
                        <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                            <img src="~/assets/img/Quiz.jpg" class="img-fluid" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <!--quiz-->

            <hr class="my-4" />
            <section>
                <div class="row">
                    <div class="col-md-5 gx-5 mb-4">
                        <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                            <img src="~/assets/img/newSchedule.png" class="img-fluid" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-7 gx-5 mb-4 text-center">
                        <h1><br></h1>
                        <h3 class="text-center"><strong> UV Prediction</strong></h3>
                        <br><br>
                        <h5 class="text-center"> <strong> Want to know UV level in next 5 days and recommended activities? </strong></h5>
                        <h1><br></h1>
                        <a href="@Url.Action("FutureUV","Home")" class="btn btn-warning btn-rounded btn-lg">
                            Learn More
                        </a>
                    </div>
                </div>
            </section>


        </div>
    </div>
    <!-- Main Content-->
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>

</body>
</html>
